body {
    background: black;
}

.theClock {
    /* font-size: 300px; */
    font-size: 17vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5vw;
}

.numbers {
    vertical-align: middle;
}

.dots {
    letter-spacing: -1vw;
    margin-left: -3vw;
    font-size: 12vw;
    vertical-align: middle;
}